body {
    background: rgb(63,94,251);
background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
    text-align:center
}

.buscador{
    background: rgb(63,94,251);
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
}

h2{
    color: rgb(222, 98, 222)
}

#comidas{
    color: blueviolet;
}

.imagenredes{
    width: 100px;
    height: 60px;
}

.barner{
    border-radius: 20px;
    margin-top: auto;
    border:2px palevioletred solid;
}

.descripcion{
    background-color: aqua;
}

